mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        video(src=video.fileUrl, controls, width=300, height=200)  
        div.video-mixin__data
            span.video-mixin__title=video.title
            div.video-mixin__meta 
                span #{video.owner.name} .
                span #{video.meta.views} 회

    //- div 
    //-     h4
    //-         a(href=`/videos/${video.id}`).video-mixin
    //-     video(src='/'+info.fileUrl, controls, width=300, height=200)  
    //-     p=info.description
    //-     each hashtag in info.hashtags 
    //-         li=hashtag
    //-     small=info.createdAt
    //-     hr  
            